body {
  background-color: #0085CA;
}

.title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.subtitle {
  text-align: center;
}

.top-section img {
  display: block;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
}

a {
  text-decoration: none;
}

.about-facts table {
  float: left;
  margin-right: 800px;
}
